.Header
  .box
    .box__small
      = icon('fas', 'running')
      Exercise Diary
  .currentbox
    .currentbox__small
      = current_user.name
  .Icons
    .Icons__icon
      .Icons__icon--cog
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
    .Icons__icon
      .Icons__icon--user
        = link_to user_path(current_user) do
          = icon('fas', 'user')
    .Icons__icon
      .Icons__icon--book
        = link_to root_path do
          = icon('fas', 'book-open')
    .Icons__icon
      .Icons__icon--reader
        = icon('fas', 'book-reader')