= render "header"

.Wrapper
  = render "calendar"

  .Chat
    .MessageField
      = render @messages

    .footer
      = form_with model: @message, html: {class: "form"}, local: true do |f|
        .form__contents
          = f.text_field :content, class: 'form__input', placeholder: 'type a message'
          = f.label :image, class: 'form__image' do
            = icon('far', 'image', class: 'form__icon')
            = f.file_field :image, class: 'from__hiden'
        = f.submit 'Send', class: 'form__submit'


