= render "messages/header"
.Wrapper
  .info
    .info__box
      .info__box--name
      .info__box--current
        = image_tag current_user.image.to_s, class: 'image'
    .info__box
      .info__box--name
        name:
      .info__box--current
        = current_user.name
    .info__box
      .info__box--name
        email:
      .info__box--current
        = current_user.email
    .info__box
      .info__box--name
        自己紹介:
      .info__box--current
        = current_user.comment
  = render "messages/calendar"

  .Chat
    .MessageField
      = render @messages